.container-register {
    width: 60%;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #1a1c39;
}
.container-graph {
    width: 60%;
}