.card {
    transition: transform 0.2s ease-in-out;
    width: 400px;
}
.card-btn {
    background-color: #1a1c39;
    color: #ffffff;
}

.card-btn:hover {
    background-color: #ffffff;
    border: 1.5px solid #1a1c39;
    color: #1a1c39;

}.card-btn-danger {
    background-color: #ffffff;
    color: #1a1c39;
}

.card-btn-danger:hover {
    background-color: #ffffff;
    border: 1.5px solid #f80606;
    color: #1a1c39;

}


.card:hover {
    transform: translateY(-5px);
}